---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 26 2023')}
	updatedDate={new Date('June 26 2023')}
	heroImage=""
>
	<p>Stuff here.</p>
</Layout>
