---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Explore The Art"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 27 2023')}
	updatedDate={new Date('June 27 2023')}
	heroImage=""
>
	<p>Art feed here. a reverse chronological order of the weekly features</p>
</Layout>
