---
import Layout from '../layouts/BlogPost.astro';
import Blogroll from '../components/Blogroll.svelte'
---

<Layout
	title="Blogroll"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 27 2023')}
	updatedDate={new Date('June 27 2023')}
	heroImage=""
>
	<p>Blogroll is cut for first release</p>

	<Blogroll/>

</Layout>
