---
import Layout from '../layouts/BlogPost.astro';
import Blogroll from '../components/Blogroll.svelte'
---

<Layout
	title="Blogroll"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 27 2023')}
	updatedDate={new Date('June 27 2023')}
	heroImage=""
>
	<p>Blogroll here. All chrono sort and publication filter. Hmm, social posts</p>

	<p>Svelte test. need to setup an astro island</p>

	<Blogroll/>

</Layout>
