---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<article>
				<h1>featured art here</h1>
				<p>leaning on only showing under 20 pieces a week. not going to restrict it to one piece per artist in the feature. featured artists will appear in the artist directory after first feature</p>
			</article>
			<section>
				<p>blog post cards here. small, simple, probably no images to keep the focus on the art</p>
			</section>
		</main>
		<Footer />
	</body>
</html>
