---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<article>
				<a href-"">link to the wishlist</a>
				<a href="">link to artist page</a>
				<a href="">link to the art</a>
				<a href-"">link to sort by collection, edition, etc</a>
				<a href="">link to the galleries</a>
				<a href="">link to art/artist of communities</a>
				<a href="">link to scrapbook</a>
				<a href="">link to journal</a>
			</article>
			<section>
				<a href="https://gallery.so/cosmicblend">my collection on gallery</a>
				<p>???</p>
			</section>
		</main>
		<Footer />
	</body>
</html>
