---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>The first post. Keeping it simple.</h1>
			<p>To-do | 06.26.2023</p>
			<ul>
				<li>What is this expanded</li>
				<li>Breakdown the experiments structure a bit</li>
				<li>Prove ipfs pipeline</li>
				<li>Release the unfiltered artist discovery frontend</li>
				<ii>Release the calendar</li>
				<li>Prove federated pipeline</li>
				<li>Find a few interviewers and writers</li>
				<li>Find the first few collabs</li>
				<li>Explain the studio</li>
				<li>Explain the gallery</li>
				<li>Github pages for blog, barebones. small, performant, only whats needed plus a little play</li>
				<li>complete a 78 piece protoype that informs volume zeros' study. 12 month volumes (maybe less, not sure yet), many issues/collections/releases</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
